.dt-button{
	border: 1px solid #929292;
	padding: 8px 10px 5px; 
	margin-right: 20px;
	border-radius: 4px;
}

.dataTables_wrapper{
	justify-content: space-between;
	margin-top:20px; 
}
.paginate_button{
	padding-left:10px;
}